<h1>New Order</h1>
</br>
<h2>Bread</h2>
<% @ingredients.where(cat: "bread").each do |bread| %>
  <%= radio_button_tag(:bread, bread.name) %>
  <%= label_tag(:bread, bread.name) %>
<% end %>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
